$black: #25221D;
$light-black: #3a3833;
$dark-gray: #504e4a;
$pink: rgb(163, 97, 128);
$light-pink: rgb(201, 136, 166);
$gray: #ADACA9;
$smooth-gray: #dbdbdb;
$light-gray: #E9E8E8;
$white: #FFFFFF;
$yellow: #FEC229;
$red: #EA3724;

$primary: $pink;
$primary-inverse: $white;
$dark: $black;
$dark-inverse: $white;
$thin-dark: rgba(37,34,29,.26);

$fa-font-path: "~font-awesome/fonts";

$input-focus-border-color: $pink;
$input-focus-box-shadow-color:	rgba($light-pink, 0.25);
