<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <div class="panel">

    <button class="button" @click="sortByLikes()">Sort By Likes</button>
    &nbsp;
    <button class="button" @click="sortByDate()">Sort By Date</button>
    </div>
    <div class="columns is-multiline is-mobile">
      <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop" v-for="image in images" :key="image._id.$oid">
        <div class="card">
          <div @click="showLightbox(image.filename)" class="card-image">
            <v-lazy-image :src="image.path" :alt="image.filename" ></v-lazy-image>
          </div>
          <span class="has-text-left is-size-7">created at <b>{{getDate(image.createdAt.$date)}}</b></span>
          <div class="card-footer">
            <div class="card-footer-item" @click="addLike(image)">
              <span class="icon"
                :class="{'has-text-danger': userLikedImage(image)}">
                <i class="fa fa-heart"></i> 
              </span>
              <div> {{image.likes.length}} Likes</div>
            </div>
            <div class=" card-footer-item">

              <span class="icon"
                @click="approveImage(image)" v-show="isAdmin()"
                :class="{'has-text-success': image.approved}">
                <i class="fa fa-check" ></i>
                &nbsp;
                <span v-if="!image.approved">Approve</span>
                <span v-if="image.approved">Approved</span>
              </span>
            </div>
          </div>
        </div>
         
      </div>
    </div>

    <lightbox id="mylightbox"
      ref="lightbox"
      :images="imagesLighbox"
      :directory="dir"
      :filter="galleryFilter"
      :timeoutDuration="5000"
    ></lightbox>
  </div>
</template>

<style lang="scss">
  img {
    width: 80%;
    height: 180px;
    margin: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .thumbnailfade-leave-active,
  .thumbnailfade-enter-active {
    transition: all 0.4s ease;
  }

  .thumbnailfade-enter-active {
    transition-delay: 0.4s;
  }

  .thumbnailfade-enter,
  .thumbnailfade-leave-to {
    opacity: 0;
  }
</style>


<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import gallery from "@/api/gallery";
import store from '@/store/store';

export default {
  name: 'home',
  data() {
    return {
      'model_active': true,
      'imagesLighbox': [],
      'galleryFilter':"galleryFilter",
      'images': [],
      "dir": "https://s3-sa-east-1.amazonaws.com/anchorloans-gallery/"
    }
  },
  methods: {
    showLightbox: function(imageName) {
      this.$refs.lightbox.show(imageName);
    },
    userLikedImage: function(image) {
      if(!image.likes) return false;
      let user = store.getters.user
      return image.likes.some(like => {
        return like.user_id == user.id
      });
    },
    addLike: function(image) {
      if(this.isLoggedIn()){
        gallery.addLikeToImage(image._id.$oid)
        .then((result) => {
          image.likes = result.data.likes
        })
      }
    },
    getDate: function(date){
      let rDate = new Date(date)
      return rDate.toLocaleString()
    },
    approveImage: function(image) {
      gallery.approveImage(image._id.$oid)
        .then((result) => {
          image.approved = result.data.approved
        })
    },
    isAdmin: function(){
      let user = store.getters.user
      if(user) {
        return user.role == 'admin'
      }
      return false
    },
    isLoggedIn: function(){
      return store.getters.user && store.getters.user.id
    },
    sortByLikes: function(){
      let first = this.images[0].likes.length || 0
      let last = this.images[this.images.length -1].likes.length || 0
      let isDescending = last < first
      this.images.sort((a, b) => {
        let al = a.likes.length || 0
        let bl = b.likes.length || 0
        if( al > bl) return -1
        if( al < bl) return 1
        return 0
      })
      if(isDescending) {
        this.images.reverse()
      }
    },
    sortByDate: function(){
      let first = this.images[0].createdAt.$date
      let last = this.images[this.images.length -1].createdAt.$date
      let isDescending = last < first
      this.images.sort((a, b) => {
        let al = a.createdAt.$date
        let bl = b.createdAt.$date
        if( al > bl) return -1
        if( al < bl) return 1
        return 0
      })
      if(isDescending) {
        this.images.reverse()
      }
    }
  },
  computed: {
    filteredImages: function() {
      if (this.galleryFilter === 'all') {
        return this.imagesLighbox;
      } else {
        return this.imagesLighbox;
      }
    }
  },
  created () {
    gallery.fetchGalleryImages().
      then((response) => {
        this.images = response.data.results
        this.imagesLighbox = this.images.map((image) => {
          return {
            name: image.filename,
            id: image._id.$oid,
            alt: image.filename,
            filter: "galleryFilter"
          }
        })
      })
  }
}
</script>
