<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="card">
              <div class="card-content has-text-centered">
                <div class="content">
                  <img class="image-logo" src="../assets/images/wedding.png" alt="logo">
                  <div class="content">
                    <p class="title is-4 is-primary">Welcome to My Wedding Gallery</p>
                    <p class="subtitle is-6">Login</p>
                  </div>
                </div>
                <div class="columns is-centered">
                  <div class="column is-5">
                    <div class="field">
                      <p class="control has-icons-left">
                        <input class="input" :class="{'is-danger': this.errors.has('username')}"
                              type="text" placeholder="Username" v-model="authInfo.username"
                              @input="errors.has('username') ? errors.clear('username') : null">
                        <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                      </p>
                      <p class="help is-danger has-text-left" v-show="this.errors.has('username')">{{this.errors.get('username')}}</p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input class="input" :class="{'is-danger': this.errors.has('password')}"
                              type="password" placeholder="Password" v-model="authInfo.password"
                              @input="errors.has('password') ? errors.clear('password') : null" @keyup.enter="onSubmit">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                      </p>
                      <p class="help is-danger has-text-left" v-show="this.errors.has('password')">{{this.errors.get('password')}}</p>
                    </div>
                    <div class="field">
                      <p class="control has-text-centered">
                        <button class="button is-success" @click="authenticate" >
                          Login
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss">
  .image-logo {
    width: 150px;
  }
</style>
<script>
import { mapActions } from 'vuex'
import { Errors } from '@/helpers/errors'

export default {
  name: 'login',
  data () {
    return {
      authInfo: {
        username: '',
        password: ''
      },
      errors: new Errors()
    }
  },
  methods: {
    ...mapActions(['login']),
    authenticate () {
      this.login(this.authInfo).then(() => {
        this.$router.push({ name: 'home' })
      }).catch(error => {
        let data = error.response.data
        if(data.errors) {
          let errors = {}
          data.errors.forEach(error => {
            let errorMessage = error.description
            if(errorMessage == 'Required') {
              errorMessage = error.name + ' is ' + errorMessage
            }
            errors[error.name] = errorMessage
            this.$notify({
              text: `<i class="fa fa-times"></i> ${errorMessage}`,
              type: 'error'
            })
          });
          this.errors.record(errors)
        }
      })
    },
    onSubmit () {
      this.authenticate()
    }
  }
}
</script>

<style>
</style>
