<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="card">
              <div class="card-content has-text-centered">
                <div class="content">
                  <img class="image-logo" src="../assets/images/wedding.png" alt="logo"/>
                  <div class="content">
                    <p class="title is-4 ">Welcome to My Wedding Gallery</p>
                    <p class="subtitle is-6">Register</p>
                  </div>
                </div>
                <div class="columns is-centered">
                  <div class="column is-5">
                    <div class="field">
                      <p class="control has-icons-left">
                        <input class="input" :class="{'is-danger': this.errors.has('username')}"
                              type="text" placeholder="Username" v-model="new_user.username"
                              @input="errors.has('username') ? errors.clear('username') : null">
                        <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                      </p>
                      <p class="help is-danger has-text-left" v-show="this.errors.has('username')">Usuário inválido</p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input class="input" :class="{'is-danger': this.errors.has('password')}"
                              type="password" placeholder="Password" v-model="new_user.password"
                              @input="errors.has('password') ? errors.clear('password') : null" @keyup.enter="onSubmit">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                      </p>
                      <p class="help is-danger has-text-left" v-show="this.errors.has('password')">Senha incorreta</p>
                    </div>
                    <div class="field">
                      <div class="control">
                        <div class="select is-fullwidth">
                          <select  v-model="new_user.role">
                            <option value="">SELECT A ROLE</option>
                            <option value="guest">Guest / Friend</option>
                            <option value="admin">Bride / Groom</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <p class="control has-text-centered">
                        <button class="button is-success" @click="register" >
                          Register
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss">
  .image-logo {
    width: 150px;
  }
</style>
<script>
import { mapActions } from 'vuex'
import { Errors } from '@/helpers/errors'
import users_api from "@/api/users";


export default {
  name: 'register',
  data () {
    return {
      new_user: {
        username: '',
        password: '',
        role: '',
      },
      errors: new Errors()
    }
  },
  methods: {
    ...mapActions(['register', 'login']),
    register () {
      users_api.register(this.new_user).then(() => {
        this.login(this.new_user).then(()=>{
          this.$router.push({ name: 'home' })
        })
      }).catch(error => {
        let data = error.response.data
        if(data.errors) {
          let errors = {}
          data.errors.forEach(error => {
            let errorMessage = error.description
            if(errorMessage == 'Required') {
              errorMessage = error.name + ' is ' + errorMessage
            }
            errors[error.name] = errorMessage
            this.$notify({
              text: `<i class="fa fa-times"></i> ${errorMessage}`,
              type: 'error'
            })
          });
          this.errors.record(errors)
        }
      })
    },
    onSubmit () {
      this.register()
    }
  }
}
</script>

<style>
</style>
