
<template>
    <vue-dropzone ref="myVueDropzone" id="dropzone"
      :options="dropzoneOptions">
    </vue-dropzone>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import axios from 'axios'

export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: axios.defaults.baseURL+'/gallery',
          thumbnailWidth: 150,
          maxFilesize: 1.5,
          headers: { "Authorization": axios.defaults.headers.common.Authorization },
          dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> Drop files here to upload"
      }
    }
  }
}
</script>
