<template>
<div class="modal" :class="{'is-active': active}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{title}}</p>
        <button class="delete" aria-label="close" @click="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        {{text}}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="continueAction()">Continuar</button>
        <button class="button" @click="closeModal()">Cancelar</button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalCard',
  props: ['title', 'text', 'active'],
  methods: {
    closeModal () {
      this.$emit('close')
    },
    continueAction () {
      this.$emit('confirmAction')
    }
  }
}
</script>
