<template>
  <div id="app" class="container">
    <notifications classes="notifier" />
    <nav class="navbar" id="nav" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="brand-title">My Wedding Gallery</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
          @click="toggleMenu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" :class="{'is-active': menuIsActive}">
        <div class="navbar-start">
          <a class="navbar-item">
            <router-link to="/">Home</router-link>
          </a>
          <a class="navbar-item">
            <router-link to="/upload" v-if="isLoggedIn()">
              <span class="icon">
                <i class="fa fa-cloud-upload"></i> 
              </span> Upload</router-link>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item" v-if="isLoggedIn()"><span>Logged as ({{user().username}})</span></div>
          <div class="navbar-item">
            <div class="buttons">
              <router-link to="/register" v-if="!isLoggedIn()" class="button is-primary">Sing up</router-link>
              <router-link to="/login" v-if="!isLoggedIn()" class="button is-light">Log in</router-link> 
              <a @click="callLogout()" v-if="isLoggedIn()" class="button is-light">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  .brand-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  .button.is-primary {
    color: #fff;
  }
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active
    , &.button.is-primary.router-link-exact-active {
      color: rgb(163, 97, 128);
      background-color: #ffffff;
    }
  }
}
</style>
<script>
import { mapActions } from 'vuex'
import store from '@/store/store';
import image from "./assets/images/wedding.png"
export default {
  name:"app",
  data() {
    return {
      menuIsActive: true,
      image: image
    }
  },
  methods: {
    ...mapActions(['logout']),
    isLoggedIn: function(){
      return store.getters.user && store.getters.user.id
    },
    user: function(){
      return store.getters.user
    },
    callLogout: function(){
      this.logout()
    },
    toggleMenu: function(){
      this.menuIsActive = !this.menuIsActive;
    }
  }
}
</script>

export default {

}
