.notifier {
    // Style of the notification itself
    // margin-top:55px;

    .notification-title {
      // Style for title line
      color: $white;
    }
  
    .notification-content {
      // Style for content
      color: $white;
    }
  
    &.success {
      /*
      Style for specific type of notification, will be applied when you
      call notification with "type" parameter:
      this.$notify({ type: 'my-type', message: 'Foo' })
      */
      background-color: $primary;
    }

    &.warning {
      background-color: $yellow;
    }

    &.error {
      background-color: $red;
    }
  }